In [1]:
import pandas as pd

In [2]:
def data_import(file_path):
    dataframe = pd.read_csv(file_path)
    return dataframe

dataframe_1 = data_import('files_for_lab/csv_files/file1.csv')
dataframe_2 = data_import('files_for_lab/csv_files/file2.csv')
dataframe_3 = data_import('files_for_lab/csv_files/file3.csv')

print('\nData imported correctly!\n')

Data imported correctly!

In [3]:
# Importing the data, we had a problem: only from index 0 to 1070 contains data. 
# Lets slice only the rows with valid data.

dataframe_1 = dataframe_1[0:1071]

In [4]:
def dataframe_shape(dataframe):
    df_shape = dataframe.shape
    return df_shape

print('\nSHAPE OF THE DATAFRAMES')
print('-----------------------\n')

print(f'- Shape dataframe 1: {dataframe_shape(dataframe_1)}')
print(f'- Shape dataframe 2: {dataframe_shape(dataframe_2)}')
print(f'- Shape dataframe 3: {dataframe_shape(dataframe_3)}')

SHAPE OF THE DATAFRAMES
-----------------------

- Shape dataframe 1: (1071, 11)
- Shape dataframe 2: (996, 11)
- Shape dataframe 3: (7070, 11)

In [5]:
def columns_standardization(dataframe):

    standardized_columns = list()

    for column in dataframe.columns:
        standardized_columns.append(column.lower())

    dataframe.columns = standardized_columns

    return dataframe

dataframe_1 = columns_standardization(dataframe_1)
dataframe_2 = columns_standardization(dataframe_2)
dataframe_3 = columns_standardization(dataframe_3)

print('\nColumns were correctly standardized!\n')

Columns were correctly standardized!

In [6]:
# Defining the new order of the columns.

columns_order = ['customer', 'state', 'customer lifetime value', 'education', 'gender',
                 'income', 'monthly premium auto', 'number of open complaints',
                 'policy type', 'total claim amount', 'vehicle class']

# Adapting the name of the columns to dataframe_1 and defining the new order.

dataframe_1 = dataframe_1.rename(columns = {'st': 'state'})
dataframe_1 = dataframe_1[columns_order]

# Adapting the name of the columns to dataframe_2 and defining the new order.

dataframe_2 = dataframe_2.rename(columns = {'st':'state'})
dataframe_2 = dataframe_2[columns_order]

In [7]:
def dataframes_fusion(dataframes):
    final_dataframe = pd.concat([dataframes[0], dataframes[1], dataframes[2]])
    return final_dataframe

merged_dataframes = dataframes_fusion([dataframe_1, dataframe_2, dataframe_3])

In [9]:
# Fred and Erin solution.

new_customer_ltv_values = list()

for value in merged_dataframes['customer lifetime value'].values:
    if '%' in str(value):
        value = value[:-1]
        new_customer_ltv_values.append(value)
    else:
        new_customer_ltv_values.append(value)

merged_dataframes['customer lifetime value'] = new_customer_ltv_values

In [10]:
# Forcing not quality columns that are actually numerical to be numerical.

merged_dataframes['customer lifetime value'] = pd.to_numeric(merged_dataframes['customer lifetime value'], errors = 'coerce')
merged_dataframes['number of open complaints'] = pd.to_numeric(merged_dataframes['number of open complaints'], errors = 'coerce')

In [11]:
def is_numeric(dataframe):

    numerical_types = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    numerical_columns = dataframe.select_dtypes(include = numerical_types)

    return numerical_columns.columns.to_list()

numeric_columns = is_numeric(merged_dataframes)

In [12]:
def is_categorical(dataframe, numeric_columns):

    categorical_columns = list()

    for column in dataframe.columns:
        if column not in numeric_columns:
            categorical_columns.append(column)

    return categorical_columns

categoric_columns = is_categorical(merged_dataframes, numeric_columns)

In [13]:
def drop_columns(dataframe, columns):
    dataframe = dataframe.drop(columns = columns)
    return dataframe

merged_dataframes = drop_columns(merged_dataframes, ['number of open complaints', 'education'])

In [14]:
def drop_duplicates(dataframe):
    dataframe = dataframe.drop_duplicates()
    return dataframe

merged_dataframes = drop_duplicates(merged_dataframes)

In [15]:
merged_dataframes[merged_dataframes.income <= 0]

,customer,state,customer lifetime value,gender,income,monthly premium auto,policy type,total claim amount,vehicle class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.590000,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
3,WW63253,California,764586.180000,M,0.0,106.0,Corporate Auto,529.881344,SUV
7,CF85061,Arizona,721610.030000,M,0.0,101.0,Corporate Auto,363.029680,Four-Door Car
10,SX51350,California,473899.200000,M,0.0,67.0,Personal Auto,482.400000,Four-Door Car
...,...,...,...,...,...,...,...,...,...
7059,WZ45103,California,5678.050167,F,0.0,76.0,Personal Auto,364.800000,Four-Door Car
7061,RX91025,California,19872.262000,M,0.0,185.0,Personal Auto,1950.725547,SUV
7062,AC13887,California,4628.995325,M,0.0,67.0,Corporate Auto,482.400000,Two-Door Car
7067,TD14365,California,8163.890428,M,0.0,85.0,Corporate Auto,790.784983,Four-Door Car
7069,Y167826,California,2611.836866,M,0.0,77.0,Corporate Auto,369.600000,Two-Door Car